.u-margin__auto {
  margin: 0 auto;
}
.u-margin__lauto {
  margin-left: auto;
}
.u-margin__20t {
  margin-top: 20px;
}
.u-margin__30t {
  margin-top: 30px;
}
.u-margin__20r {
  margin-right: 20px;
}
.u-margin__20b {
  margin-bottom: 20px;
}
.u-margin__20y {
  margin-top: $space_20;
  margin-bottom: $space_20;
}
.u-margin__10r {
  margin-right: $space_10;
}
.u-margin__10l {
  margin-left: $space_10;
}
